body {
    font-family: sans-serif;
    background-color: lightgreen;
    margin-top: 75px;
}

.center {
    text-align: center;
    padding-top:20px;


}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container {
                max-width: 800px;
                margin:0 auto;
                color: green;
                font-family: sans-serif;
                padding-top:20px;
                padding-left:20px;
                padding-right:20px;
            }
 .header {
        max-width:200px;
        background-color: lightblue;
        
 }