body {
    font-family: sans-serif;
    background-color: lightgreen;
    margin-top: 75px;
}

.center {
    text-align: center;
    padding-top:20px;


}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container1 {
                width: 800px;
                background-color: black;
                font-family: sans-serif;
                background-position: right top;
            }
 .header {
        width:1250px;
        height:200px;
        background-color: blue;
 }